:root {
	--body-color: hsl(0 0% 20%);
	--body-background-color: hsl(0 0% 94%);

	--selection-color: hsl(0 0% 90%);
	--selection-background-color: hsl(200 50% 12%);

	--link-color: hsl(200 100% 50%);
	--link-color-hover: hsl(200 100% 40%);
	--link-color-active: hsl(300 100% 40%);

	--tabs-background-color: hsl(0 0% 90%);

	--warning-color: hsl(0 20% 20%);
	--warning-background-color: hsl(0 50% 90%);
	--success-color: hsl(120 20% 20%);
	--success-background-color: hsl(120 50% 90%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--body-color: hsl(0 0% 90%);
		--body-background-color: hsl(0 0% 6%);

		--selection-color: hsl(0 0% 20%);
		--selection-background-color: hsl(200 50% 88%);

		--link-color: hsl(200 100% 50%);
		--link-color-hover: hsl(200 100% 70%);
		--link-color-active: hsl(300 100% 70%);

		--tabs-background-color: hsl(0 0% 12%);

		--warning-color: hsl(0 50% 80%);
		--warning-background-color: hsl(0 20% 10%);
		--success-color: hsl(120 50% 80%);
		--success-background-color: hsl(120 20% 10%);
	}
}

*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
	min-height: 100svh;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;

	color: var(--body-color);
	background-color: var(--body-background-color);

	overflow-x: hidden;
}

::selection {
	color: var(--selection-color);
	background-color: var(--selection-background-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1, h2, h3 {
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
}
h1 {
	font-size: 2.125rem;
}
h2 {
	font-size: 1.625rem;
}
h3 {
	font-size: 1.5rem;
}

h1 + *,
h2 + *,
h3 + * {
	margin-block-start: 1em;
}

a {
	display: inline-block;
	padding: .25em .5em;

	color: var(--link-color);
	text-decoration: underline;
	text-decoration-thickness: .0625em;
	text-underline-offset: .125em;

	outline: 0em dashed transparent;
	outline-offset: .125rem;

	transition: .2s ease-in-out;
	transition-property: color, outline-color;
}
a:focus-visible {
	outline-width: .125rem;
	outline-color: currentColor;
}
a:hover,
a:focus-visible {
	color: var(--link-color-hover);
}
a:active {
	color: var(--link-color-active);
}

.notify {
	margin-block: 1em;
	border-radius: 1em;
	padding: 1em 1.5em;
}
.notify--warning {
	color: var(--warning-color);
	background-color: var(--warning-background-color);
}
.notify--success {
	color: var(--success-color);
	background-color: var(--success-background-color);
}

.container {
	max-width: 75rem;
	padding-inline: 2rem;
	margin-inline: auto;
}

.container + .container,
.container > * + * {
	margin-block-start: 1em;
}
.container .container {
	padding-inline: 0;
}

hr {
	display: block;
	width: 100%;
	height: .125rem;
	margin-block: 1rem;
	background-color: currentColor;
}

.tabs {
	padding: 2rem;
	background-color: var(--tabs-background-color);
	border-radius: 1rem;
}

.tab {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-block-end: 2rem;
}

.tab__item {}

.tab__link {}

.tab__link--active:hover,
.tab__link--active:focus-visible,
.tab__link--active:active,
.tab__link--active {
	color: var(--link-color-active);
}

.tab__panel {
	outline: 0em dashed transparent;
	outline-offset: .875rem;

	transition: .2s ease-in-out;
	transition-property: color, outline-color;
}
.tab__panel:focus-visible {
	outline-width: .125rem;
	outline-color: currentColor;
}

.tab__help {
	margin-block-start: 2rem;
	font-size: .875rem;
	opacity: .75;
}
.tab__key {
	border-radius: .5em;
	margin-inline: .125em;
	padding: .5em;

	color: var(--body-color);
	background-color: var(--body-background-color);
}